.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../assets/background.png");
  background-size: cover;
  button {
    margin-top: 50px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    border: 2px solid rgba(168, 168, 168, 0.3);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    font-size: clamp(15px, 2vh, 25px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  button:hover {
    background-color: rgba(132, 161, 240, 0.63);
    transform: scale(0.95);
  }
  img {
    width: clamp(300px, 40vh, 600px);
    aspect-ratio: 2/1;
    border-radius: 25px;
    outline: 2px solid rgba(255, 255, 255, 0.459);
    opacity: 0.8;
    margin-top: 100px;
  }
  span {
    color: transparent;
    background: linear-gradient(to bottom, #00cc99, #6600ff);
    background-clip: text;
    opacity: 0.7;
  }
}
