.numberscontainer {
  display: flex;
  width: 610px;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.number {
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
